<%= form_with(model: venta,
              url: (venta.persisted? ? { controller: 'venta', action: :update, id: venta } : { controller: 'venta', action: :create }),
              method: (venta.persisted? ? :patch : :post),
              local: true) do |form| %>

  <div class="form-panel">
    <% if venta.errors.any? %>
      <div style="color: red" class="mb-3">
        <h5><%= pluralize(venta.errors.count, "error") %> impiden guardar esta venta:</h5>
        <ul>
          <% venta.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :fecha_hora, class: "form-label" %>
      <%= form.datetime_field :fecha_hora, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :total, class: "form-label" %>
      <%= form.number_field :total, step: "0.01", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :comprador, class: "form-label" %>
      <%= form.text_field :comprador, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :empleado_id, class: "form-label" %>
      <%= form.number_field :empleado_id, class: "form-control" %>
    </div>

    <div class="mt-3">
      <%= form.submit class: "btn btn-as-dark" %>
    </div>
  </div>
<% end %>
