<div id="<%= dom_id venta %>">
  <div>
    <strong>Fecha hora:</strong>
    <%= venta.fecha_hora %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= venta.total %>
  </div>

  <div>
    <strong>Comprador:</strong>
    <%= venta.comprador %>
  </div>

  <div>
    <strong>Empleado:</strong>
    <%= venta.empleado_id %>
  </div>

</div>
