<div id="<%= dom_id ventum %>">
  <div>
    <strong>Fecha hora:</strong>
    <%= ventum.fecha_hora %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= ventum.total %>
  </div>

  <div>
    <strong>Comprador:</strong>
    <%= ventum.comprador %>
  </div>

  <div>
    <strong>Empleado:</strong>
    <%= ventum.empleado_id %>
  </div>

</div>
