<%= form_with(model: producto) do |form| %>
  <% if producto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :autor, style: "display: block" %>
    <%= form.text_field :autor %>
  </div>

  <div>
    <%= form.label :precio, style: "display: block" %>
    <%= form.number_field :precio, step: 0.01 %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
  <%= form.label :categoria, "Género musical", style: "display: block" %>
  <%= form.select :categoria,
        [
          ["Rock", "rock"],
          ["Pop", "pop"],
          ["Jazz", "jazz"],
          ["Blues", "blues"],
          ["Clásica", "clasica"],
          ["Reggae", "reggae"],
          ["Hip-Hop", "hiphop"],
          ["Metal", "metal"],
          ["Electrónica", "electronica"]
        ],
        {},
        class: "form-control" %>
  </div>

  <div>
    <%= form.label :tipo, "Tipo", style: "display: block" %>
    <%= form.select :tipo,
          [["Vinilo", "vinilo"], ["CD", "cd"]],
          {}, class: "form-control" %>
  </div>

  <div>
  <%= form.label :estado_fisico, "Estado del producto", style: "display: block" %>
  <%= form.select :estado_fisico,
        [["Nuevo", "nuevo"], ["Usado", "usado"]],
        {}, class: "form-control" %>
</div>

  <div>
    <%= form.label :imagenes, "Imágenes", style: "display: block" %>
    <%= form.file_field :imagenes, multiple: true, accept: "image/*" %>
  </div>

  <!-- Campo Audio SOLO si es usado -->
  <div *ngIf="producto.estado === 'usado'">
    <label>Audio muestra</label>
    <br>
    <input type="file" accept="audio/*">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
