<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>

<h1 class="mb-4"><i class="bi bi-disc"></i> Productos</h1>

<div class="table-responsive">
  <table class="table-base table table-sm align-middle">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @productos.each do |producto| %>
        <tr>
          <td><%= producto.titulo %></td>
          <td><%= producto.autor %></td>
          <td>$<%= producto.precio %></td>
          <td><%= producto.tipo %></td>
          <td><%= producto.estado %></td>
          <td>
            <%= link_to producto_path(producto), class: "btn btn-sm btn-as-dark" do %>
              <i class="bi bi-search"></i> Ver
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="mt-3">
  <%= link_to new_producto_path, class: "btn btn-as-dark" do %>
    <i class="bi bi-plus-circle"></i> Nuevo producto
  <% end %>
</p>